{% extends "base.html" %}
{% load static %}
{% block title %}登入{% endblock title %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">登入</div>
                <div class="card-body">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">帳號</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            <div class="invalid-feedback">請輸入帳號</div>
                        </div>
                        <div class="form-group">
                            <label for="password">密碼</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="invalid-feedback">請輸入密碼</div>
                        </div>
                        <button type="submit" class="btn">確定</button>
                        <h5>還沒有帳號? 點擊<a href='{% url "userprofile:register" %}'> 註冊帳號 </a></h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}