<!-- 此html繼承自base.html-->
{% extends "base.html" %}
{% load %}

{% block title %}
首頁
{% endblock title %}

{% block content %}

<!-- 文章列表 -->
<div class="container">
    <div class="row mt-2">

        {% for article in articles %}
        <div class="col-4 mb-4">
            <!-- 卡片容器 -->
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">作者：{{ article.author }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">閱讀文章</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}