<!-- 此html繼承自base.html-->
{% extends "base.html" %}
{% load %}

{% block title %}
首頁
{% endblock title %}

{% block content %}

<!-- 文章列表 -->
<div class="container">
    <div class="row mt-2">

        {% for article in articles %}
        <div class="col-md-12 mb-4">
            <!-- 卡片容器 -->
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">作者：{{ article.author }}</p>
                </div>
                <!-- 文章內容摘要 -->
                <div class="card-body">
                    <p class="card-text">{{ article.body|slice:'100' }}...</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'article:article_detail' article.id %}" class="btn">閱讀文章</a>
                        <!-- 顯示瀏覽量 -->
                    <span>
                        <small class="col align-self-end" style="color: gray;">
                            瀏覽: {{ article.total_views }}
                        </small>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}