<!-- 此html繼承自base.html-->
{% extends "base.html" %}
{% load static %}

{% block title %}
首頁
{% endblock title %}

{% block content %}

<!--主畫面-->
<div class="container">
    <div class="row">
        <!-- 將文章按照作者的username進行分組 -->
        {% regroup articles by author.username as author_list %}
        {% for author in author_list %}
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">{{ author.grouper }}</h5>
                </div>
                <ul class="list-group">
                    {% for article in author.list %}
                    <a href="{% url 'article:article_detail' article.id %}" class="card-title">
                        <li class="list-group-item">
                            <div>
                                {{ article.title }}
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}